
.jumbotron.vertical-center {
  margin-bottom: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  width: 100%;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

#radial {
width: 200px;
height: 200px;
box-sizing: border-box;

}

#displayNow .arc {
stroke-weight: 0.2;
fill: red;

background: none;
}
.arc {
  fill: blue;
  stroke-color: #333;
}
.arc2 {
            stroke-weight:0.1;
            fill: #3660b0;
        }